.benefits {
  margin-top: 20px;
  padding: 20px;
}
.benefits__inner {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $subtext-color;
  border-bottom: 1px solid $subtext-color;
  display: flex;
  flex-direction: row;
}
.benefits__item {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.benefits__icon i {
  font-size: 2.5em;
  color: $primary-color;
}
.benefits__text {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
  margin-top: -5px;
  justify-content: flex-start;
  color: $text-color;
}
.benefits__title {
  text-transform: uppercase;
  font-weight: 700;
}
.benefits__description {
  color: $subtext-color;
  font-size: 0.65em;
}