.chair__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chair__bigimg {
  max-width: 300px;
  display: none;
}
.chair__bigimg img {
  max-width: 300px;
}
.chair__fabrics {
  display: flex;
  flex-direction: column;
}
.chair__fabrics label {
  cursor: pointer;
}
.chair__color {
  display: flex;
  width: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: start;
}