.chairgallery__popup {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  text-align: center
}

.chairgallery__closebtn {
  display: block;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.chairgallery__popup--hidden {
  display: none;
}

.chairgallery__wrap {
  position: relative;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.chairgallery__top {
  height: 10vh;
  width: 90%;
  background: aqua;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 3vh;
}
.chairgallery__smallimgs {
  width: calc(30px * 71);
}

.chairgallery__middle {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-top: 3vh;
}

.chairgallery__prevbtn__triangle {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 30%;
}
.chairgallery__prevbtn__triangle--left {
  border-top: 15px solid transparent;
  border-right: 30px solid #aaa;
  border-bottom: 15px solid transparent;
  left: 10%;
}
.chairgallery__prevbtn__triangle--right {
  border-top: 15px solid transparent;
  border-left: 30px solid #aaa;
  border-bottom: 15px solid transparent;
  right: 10%;
}

.chairgallery__bigimg {
  display: block;
  background: aqua;
  position: relative;
}
.chairgallery__bigimg img {
  height: 100%;
}

.chairgallery__bottom {
  height: 10vh;
  padding-top: 3vh;
}