.intro {
  width: 100%;
  margin: 0;
  margin-top: 100px;
  padding: 0;
  height: 100vh;
  @media (max-width: 710px) {
    height: 90vh;
  }
  @media (max-width: 650px) {
    height: 50vh;
  }
  @media (max-width: 451px) {
    height: 45vh;
  }
  @media (max-width: 361px) {
    height: 40vh;
  }
  @media (max-width: 331px) {
    height: 35vh;
  }
  @media (max-width: 291px) {
    height: 30vh;
  }
//  iphone 6/7/8
  @media (width: 375px) {
    height: 35vh;
  }
//  iphone 6/7/8 plus
  @media (width: 414px) {
    height: 37vh;
  }
}