.labels__wrap {
  position: relative;
  width: 90%;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}
.labels__arrow__left {
  position: absolute;
  left: 0;
  bottom: 1em;
  z-index: 11;
}
.labels__arrow__left button {
  color: #fff;
  background: #5d321d;
  font-weight: 700;
  border-radius: 5px;
  z-index: 11;
}
.labels__arrow__right {
  position: absolute;
  right: 0;
  bottom: 1em;
  z-index: 11;
}
.labels__arrow__right button {
  color: #fff;
  background: #5d321d;
  font-weight: 700;
  border-radius: 5px;
  z-index: 11;
}
.labels__inner {
  display: block;
  width: calc(100% * 26 / 6);
  margin: 0 auto;
}
.label__item {
  width: calc(100% / 26);
  display: inline;
  float: left;
}
.labels__item__link {
  width: 100%;
}
.labels__item__link img {
  width: 100%;
  z-index: 1;
}