.common-card__img--rugs {
  width: 200px;
}
 .common-card__img--rugsmodel {
   width: 300px;
 }

.rugs__wrap {
   display: flex;
   flex-direction: row;
}
.rug__bigimg {
  max-width: 300px;
  display: none;
}
.rug__bigimg img {
  max-width: 300px;
}