.common-card__img--rugs {
  width: 200px;
}
 .common-card__img--rugsmodel {
   width: 300px;
 }

.rugs__wrap {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  @media (max-width: 500px) {
    flex-wrap: wrap;
  }
}
.rug__bigimg {
  max-width: 300px;
  display: none;
}
.rug__bigimg img {
  max-width: 300px;
}
.rug__smallimgprice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.rug__smallimg__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //width: 300px;
  height: auto;
  margin-left: 2em;
  flex-wrap: wrap;
  align-items: center;
}
.rug__small {
  cursor: pointer;
  background: #9a9a9a;
  margin-top: 1em;
  margin-left: 1em;
}
.rug__price {
  margin-left: 3rem;
  font-size: 2em;
}

.rug__btn {
  width: 100%;
  text-align: center;
}
.rug__btn__buy {
  margin-top: 1em;
  text-decoration: none;
  background: $primary-color;
  color: #fff;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  vertical-align: center;
  padding: 0 75px;
  transition: all 200ms linear;
}
.rug__btn__buy:hover {
  text-shadow: #fff 0 0 20px;
  cursor: pointer;
}