$font-stack: 'Roboto', sans-serif;
$primary-color: #5d321d;
$secondary-color: #212121;
$text-color: #2F2F2F;
$subtext-color: #9a9a9a;
$accent-color: #fdb819;

body {
  margin: 0;
  font-family: $font-stack;
  font-size: 15px;
  line-height: 1.6;
  color: $text-color;
}
*, *:after, *:before {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1024px;
  //min-width: 325px;
  margin: 0 auto;
}

@import "header";
@import "menu";
@import "intro";
@import "rslider";
@import "overview";
@import "benefits";
@import "labels";
@import "footer";

@import "text";
@import "contacts";
@import "chair";
@import "cart";
@import "popup";
@import "tabs";
@import "chairgallery";