RewriteEngine On
#RewriteBase /app/
AddDefaultCharset UTF-8
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^index\.php$ - [L]
RewriteRule ^(.*)$ app/index.php?route=$1 [L,QSA]
#RewriteRule .+ app/index.php